{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ artist['name'] }}</title>
<body>
<div class="text-center m-3">
  <img class="rounded-circle" src="{{ artist['image_url'] }}" style="width:250px;height:250px;">
  {{ macros.paragraph(artist['name'], class='m-2', size=3) }}
</div>

<div class="row">
  {% for i in artist_albums %}
  <div class="card col-3 border-0">
    {% call macros.link(href=url_for('album_', id_=i['id']), class='card-body') %}
    <img class="rounded shadow" src="{{ i['cover_art_url'] }}" style="width:250px;height:250px;">
    <div class="m-2">
      {{ macros.paragraph(i['name'], class='font-italic font-weight-bold') }}
      {{ macros.paragraph(i['release_date_components']['year'], size=0.75) }}
    </div>
    {% endcall %}
  </div>
  {% endfor %}
</div>

</body>
{% endblock %}