{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Artists</title>
<body>
<div class="text-center m-3">
  {{ macros.paragraph('Artists', size=3) }}
  <a href="#" class="" data-bs-target="#artist_create" data-bs-toggle="modal">{{ macros.add_icon() }}</a>
</div>
{{ macros.artists_sort_filter() }}

<div class="row">
  {% for i in artists.items %}
  {{ macros.artist_card(i) }}
  {% endfor %}
</div>
{{ macros.artists_paginate() }}
</body>
{% call macros.modal('artist_create') %}
{{ macros.artist_create_form() }}
{% endcall %}
{% endblock %}