{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ artist.name }}</title>
<body>
<div class="text-center m-3">
  <img class="shadow rounded-circle col-3" src="{% if artist.profile_pic %}{{ artist.profile_pic }}{% else %}https://via.placeholder.com/250{% endif %}" alt="Card image cap">
  {{ macros.paragraph(artist.name, size=3.5) }}
  {{ macros.artist_options(artist) }}
</div>

{% if artist.albums %}
{{ macros.paragraph('Albums', size=2, class='m-3') }}
<div class="row">
  {% for i in artist.albums %}
  {{ macros.album_card(i) }}
  {% endfor %}
</div>
{% endif %}

{% if artist.songs %}
{{ macros.paragraph('Songs', size=2, class='m-3') }}
{% for i in artist.songs %}
{{ macros.song_list_item(i) }}
{% endfor %}
{% endif %}

</body>
{% endblock %}