a, a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.form-control, .form-control:focus {
    background-color: inherit;
    color: inherit;
    border-bottom: 1px solid;
}

.HotNewHipHop {
    background-color: darkorange;
}

.AllHipHop {
    background-color: darkcyan;
}