:root {
    --navbar-bg: #0B3954;
    --navbar-txt: #BFD7EA;
    --body-bg: #BFD7EA;
    --body-txt: #0B3954;
}

.navbar, .btn-custom, .badge-custom {
    background-color: var(--navbar-bg) !important;
    color: var(--navbar-txt) !important;
}

.nav-link, .navbar-brand {
    color: var(--navbar-txt) !important;
}

body, .card {
    background-color: var(--body-bg) !important;
    color: var(--body-txt) !important;
}

.link, .link:hover {
    text-decoration:none;
    color:inherit;
}

a:hover {
    cursor: pointer;
}

.bg-danger, .bg-success {
    color:white;
}

.badge {
    border-radius: 10px;
}