{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ song.name }}</title>
<body>
<div class="text-center m-3">
  {{ macros.paragraph(song.name, size=3) }}
  <a href="{{ url_for('artist_', id_=song.artists.id) }}" class="link">{{ macros.paragraph(song.artists.name, size=2) }}</a>
  <a href="{{ url_for('album_', id_=song.albums.id) }}" class="link">{{ macros.paragraph(song.albums.title, class='fst-italic mb-3', size=1) }}</a>
  {{ macros.song_options(song) }}
</div>
</body>
{% endblock %}