{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ album['name'] }}</title>
<body>
<div class="text-center m-3">
  <img class="rounded shadow" src="{{ album['cover_art_url'] }}" style="width:250px;height:250px;">
  <div class="m-2">
    {{ macros.paragraph(album['name'], size=3, class='font-italic') }}
    {{ macros.paragraph(album['release_date_components']['year'], size=1) }}
  </div>
</div>

{% for i in album_tracks['tracks'] %}
{% call macros.link(href=url_for('song_', id_=i['song']['id']), class='list-group-item list-group-item-action border-0 list-inline') %}
{{ macros.paragraph(i['number'], class='list-inline-item mr-3 font-weight-bold') }}
{{ macros.paragraph(i['song']['title_with_featured'], class='list-inline-item') }}
{% endcall %}
{% endfor %}

</body>
{% endblock %}