{% extends "base.html" %}
{% import "macros.html" as macros with context %}
<!--suppress ALL -->

{% block body %}
<title>Search</title>
<body>

<div class="row">
  {% for i in results %}
  <div class="card col-3 border-0">
    {% call macros.link(modal_id='album_create_%s' % i['id'], class='card-body') %}
    <img class="rounded shadow" src="{{ i['cover_art_url'] }}" style="width:250px;height:250px;">
    {{ macros.paragraph(i['name'], class='m-2 text-center') }}
    {{ macros.paragraph(i['release_date_components'], class='m-2 text-center') }}
    {% endcall %}
  </div>

  {% call macros.modal('album_create_%s' % i['id']) %}
  <form class="form-group" action="{{ url_for('album_create') }}" method="POST">
    {{ macros.input('album_name', 'Name', value=i['name'], class='mb-2') }}
    {{ macros.input('cover_art', 'Cover Art URL', value=i['cover_art_url'], class='mb-2') }}
    {{ macros.input('genius_id', 'Genius ID', value=i['id'], class='mb-2') }}
    {{ macros.input('release_date', 'release_date', value=i['release_date_components'], class='mb-2') }}
    <select class="form-control mb-2" name="artist_id">
      {% for j in all_artists %}
      <option value="{{ j.id }}" {% if j.name== i['artist']['name'] %} selected {% endif %}>{{ j.name }}</option>
      {% endfor %}
    </select>
    {{ macros.button('Add') }}
  </form>
  {% endcall %}
  {% endfor %}
</div>

</body>
{% endblock %}