{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>Admin</title>

{% for i in links_ %}
<div>
    <p>
        <a onclick="$('#submit' + {{ loop.index }}).submit()" class="text-success me-2">+ <i class="bi bi-newspaper"></i></a>
        <span class="badge me-2 {{ i.source_name }}">
            {{ i.source_name }}</span> {{ i.title }}
    </p>
    <form method="POST" action="{{ url_for('news.post_news') }}" id="submit{{ loop.index }}" style="display: none">
        <input autocomplete="off" placeholder="URL" class="form-control w-100 mb-3" name="url" value="{{ i.url }}">
        <input autocomplete="off" placeholder="Headline" class="form-control w-100 mb-3" name="headline" value="{{ i.title }}">
        <button class="btn w-100" type="submit"><i class="bi bi-newspaper"></i> Post News</button>
    </form>
</div>
{% endfor %}
{% endblock %}