{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ album.title }}</title>
<div class="text-center my-3">
  <img class="card-img-top rounded shadow" style="width:250px; height:250px" src="{% if not album.cover_url %}https://via.placeholder.com/250{% else %}{{ album.cover_url }}{% endif %}" alt="Card image cap">
  {{ macros.paragraph(album.title, size=2) }}
  {{ macros.album_options(album) }}
</div>

<div id="allSongs">
  {% for i in album.songs.order_by('track_num') %}
  {{ macros.song_card(i) }}
  {% endfor %}
</div>

{% endblock %}