{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ album.title }}</title>
<div class="text-center mb-2">
  <div class="h1 fst-italic" title="{{ album.title }}">{{ album.title }}</div>
  {% if request.url_rule.endpoint != 'artists.artist' %}<a href="{{ url_for('artists.artist', id_=album.artists.id) }}" class="link h3">{{ album.artists.name }}</a><br>{% endif %}
  {% if album.release_date %}
  <div title="{{ album.release_date.strftime('%B %d, %Y') }}">{{ album.release_date.strftime('%Y') }}</div>
  {% else %}--{% endif %}
  <div>{{ '%s song(s)' % album.get_songs().count() }}</div>
  <div class="mb-2"><span>{{ macros.star_icon(true, size=16) }}</span> {{ album.get_avg_rating() }}</div>
</div>

<div class="row">
  {% for i in album.get_songs() %}
  {{ macros.song_box(i) }}
  {% endfor %}
</div>
<div class="mt-5">
  <div class="h3">Tags</div>
  <div>
    {% for i in album.get_tags() %}
    <span class="badge" style="background-color:{{ i.get_tag().color }}">{{ i.get_tag().name }} <a class="ms-5 link" onclick="albumUntag({{ i.id }})">x</a></span>
    {% endfor %}
  </div>
  <div class="mt-5">
    {% for i in current_user.tags %}
    <span class="badge" style="background-color:{{ i.color }}">{{ i.name }} <a class="ms-5 link" onclick="albumTag({{ album.id }}, {{ i.id }})">+</a></span>
    {% endfor %}
  </div>
</div>
{% endblock %}