{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ artist.name }}</title>
<div class="text-center my-3">
  <img class="card-img-top rounded-circle shadow" style="width:250px; height:250px" src="{% if not artist.pic_url %}https://via.placeholder.com/250{% else %}{{ artist.pic_url }}{% endif %}" alt="Card image cap">
  <p class="h3">{{ artist.name }}</p>
  {{ macros.artist_options(artist) }}
</div>

<div class="row mb-3" id="allAlbums">
  {% for i in artist.albums %}
  {{ macros.album_card(i) }}
  {% endfor %}
</div>

<div id="allSongs">
  {% for i in artist.songs.order_by('title') %}
  {{ macros.song_card(i) }}
  {% endfor %}
</div>

{% endblock %}