{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>Artists</title>
<form method="POST" action="{{ url_for('artists.artists_') }}">
    <input autocomplete="off" name="name" placeholder="Search" class="input-custom">
    <button type="submit" class="btn-custom">Search</button>
</form>

<div class="row">
    {% for i in results %}
    <div class="card col-xl-4 border-0">
        <div class="card-body mb-3">
            {{ i['result']['name'] }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}