{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ artist.name }}</title>
<div class="text-center">
  <p class="h1">{{ artist.name }}</p>
  <span>{{ '%s album(s), %s song(s)' % (artist.get_albums().count(), artist.get_songs().count()) }}</span><br>
</div>
{{ macros.album_add_form(artist) }}
<div class="row">
  {% for i in artist.get_albums() %}
  {{ macros.album_box(i) }}
  {% endfor %}
</div>
<div class="row">
  {% for i in artist.get_songs() %}
  {{ macros.song_box(i) }}
  {% endfor %}
</div>
{% endblock %}