{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Artists</title>
<a onclick="toggleDiv('artistCreate')" class="link badge bg-success">+ Add Artist</a>
<div id="artistCreate" class="mt-3 col-6 offset-3" style="display:none">{{ macros.artist_search_form() }}</div>

<div class="row">{{ macros.artist_sorter() }}</div>
<div id="allArtists">
  <p class="badge badge-custom">{{ '%s Artists' % artists.count() }}</p>
  <div class="row">
    {% for i in artists %}
    {{ macros.artist_card(i) }}
    {% endfor %}
  </div>
</div>
{% endblock %}