{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>MusicAnalyzer</title>
{% if not current_user.is_anonymous %}
<p class="font-custom">recently added artists <a href="{{ url_for('artists.artists_') }}" class="bi bi-three-dots"></a></p>
<div class="row">
  {% for i in current_user.get_artists()[:5] %}
  {{ macros.artist_box(i) }}
  {% endfor %}
</div>
<p class="font-custom">recently added albums <a href="{{ url_for('albums.albums_') }}" class="bi bi-three-dots"></a></p>
<div class="row">
  {% for i in current_user.get_albums()[:5] %}
  {{ macros.album_box(i) }}
  {% endfor %}
</div>
<p class="font-custom">recently added songs <a href="{{ url_for('songs.songs_') }}" class="bi bi-three-dots"></a></p>
<div class="row">
  {% for i in current_user.get_songs()[:5] %}
  {{ macros.song_box(i) }}
  {% endfor %}
</div>
{% else %}
<div class="text-center">
  <a class="font-custom text-decoration-underline" data-bs-target="#loginModal" data-bs-toggle="modal">log in</a> or
  <a class="font-custom text-decoration-underline" data-bs-target="#signupModal" data-bs-toggle="modal">sign up</a>
</div>
{% endif %}
{% endblock %}