{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>MusicAnalyzer</title>
{% if recent_posts.count() > 4 %}
<div class="container-fluid p-5 border-custom">
    <a class="h2" href="{{ recent_posts[1].url }}" target="blank_">{{ recent_posts[0].title }}</a>
</div>
<div class="row my-4">
    {% for i in range(1, 5) %}
    <div class="col-xl-3">
        <div class="border-custom p-5" style="overflow:hidden">
            <a class="h6" href="{{ recent_posts[i].url }}" target="blank_">{{ recent_posts[i].title }}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if not current_user.is_anonymous %}
<p class="font-custom">recently added songs <a href="{{ url_for('songs.songs_') }}" class="bi bi-three-dots"></a></p>
<div class="row">
  {% for i in current_user.get_songs()[:25] %}
  {{ macros.song_box(i) }}
  {% endfor %}
</div>
{% else %}
<div class="text-center">
  <a class="font-custom text-decoration-underline" data-bs-target="#loginModal" data-bs-toggle="modal">log in</a> or
  <a class="font-custom text-decoration-underline" data-bs-target="#signupModal" data-bs-toggle="modal">sign up</a>
</div>
{% endif %}
{% endblock %}
