<!--suppress ALL-->
<!--ICONS-->
{% macro logo(color='currentcolor', size=20, class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-soundwave {{ class }}" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"/>
</svg>
{% endmacro %}

{% macro user_icon(color='currentcolor', size=20, class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-person-fill {{ class }}" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg>
{% endmacro %}

{% macro circle_icon(color='currentcolor', size=20, class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-circle-half {{ class }}" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
</svg>
{% endmacro %}

{% macro star_icon(rated, size=20) %}
{% if rated %}
<svg class="bi bi-star-fill" fill="orange" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
{% else %}
<svg class="bi bi-star" fill="black" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>
{% endif %}
{% endmacro %}

{% macro shuffle_icon(color='currentcolor', size=20, class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-shuffle {{ class }}" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
  <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
</svg>
{% endmacro %}

{% macro search_icon(size=20, color='currentcolor', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-search {{ class }}" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
{% endmacro %}

<!--BOXES-->
{% macro artist_box(artist) %}
<div class="card col-xl-4">
  <div class="card-body text-center text-truncate">
    <a href="{{ url_for('artists.artist', id_=artist.id) }}" class="link h1" title="{{ artist.name }}">{{ artist.name }}</a><br>
    <div>{{ '%s album(s), %s song(s)' % (artist.get_albums().count(), artist.get_songs().count()) }}</div>
    <a class="link badge bg-danger" onclick="toggleDiv('deleteArtist' + {{ artist.id }})">Delete</a>
    <a class="link badge badge-custom" onclick="toggleDiv('editArtist' + {{ artist.id }})">Edit</a>
    <a class="badge text-danger link" style="display:none" onclick="artistDelete({{ artist.id }})" id="deleteArtist{{ artist.id }}">Delete?</a>
    <div class="mt-3" style="display:none" id="editArtist{{ artist.id }}">{{ artist_edit_form(artist) }}</div>
  </div>
</div>
{% endmacro %}

{% macro album_box(album) %}
<div class="card col-xl-3">
  <div class="card-body text-center text-truncate">
    <a href="{{ url_for('albums.album', id_=album.id) }}" class="link h1 fst-italic" title="{{ album.title }}">{{ album.title }}</a><br>
    {% if request.url_rule.endpoint != 'artists.artist' %}<a href="{{ url_for('artists.artist', id_=album.artists.id) }}" class="link h3">{{ album.artists.name }}</a><br>{% endif %}
    {% if album.release_date %}
    <div title="{{ album.release_date.strftime('%B %d, %Y') }}">{{ album.release_date.strftime('%Y') }}</div>
    {% else %}--{% endif %}
    <div>{{ '%s song(s)' % album.get_songs().count() }}</div>
    <div class="mb-2"><span>{{ star_icon(true, size=16) }}</span> {{ album.get_avg_rating() }}</div>
    <a class="link badge bg-danger" onclick="toggleDiv('deleteAlbum' + {{ album.id }})">Delete</a>
    <a class="link badge badge-custom" onclick="toggleDiv('editAlbum' + {{ album.id }})">Edit</a>
    <div>
      <a class="badge text-danger link mt-3" style="display:none" onclick="albumDelete({{ album.id }})" id="deleteAlbum{{ album.id }}">Delete?</a>
      <div class="mt-3" style="display:none" id="editAlbum{{ album.id }}">{{ album_edit_form(album) }}</div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro song_box(song) %}
<div class="list-group-item-action row">
  <a href="{{ url_for('songs.song', id_=song.id) }}" class="link fw-bold col text-truncate">{{ song.name }}</a>
  {% if request.url_rule.endpoint != 'albums.album' %}
  <a href="{{ url_for('artists.artist', id_=song.artists.id) }}" class="link col text-truncate">{{ song.artists.name }}</a>
  <a href="{{ url_for('albums.album', id_=song.albums.id) }}" class="link fst-italic col text-truncate">{{ song.albums.title }}</a>
  {% endif %}
  <div class="col">{{ rating_panel(song) }}</div>
  <div class="col">
    <a class="float-end link badge bg-danger" onclick="toggleDiv('deleteSong' + {{ song.id }})">Delete</a>
    <a class="float-end badge text-danger link" style="display:none" onclick="songDelete({{ song.id }})" id="deleteSong{{ song.id }}">Delete?</a>
  </div>
</div>
{% endmacro %}

{% macro tag_box(tag) %}
<span class="badge" style="background-color:{{ tag.color }}">
  <a data-bs-target="#tag{{ tag.id }}" data-bs-toggle="modal">{{ tag.name }}</a>
  <a class="link ms-5" onclick="tagDelete({{ tag.id }})">x</a>
</span>
<div class="modal" id="tag{{ tag.id }}">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      {% for i in tag.get_albums() %}
      <a>{{ i.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}

{% macro rating_panel(song) %}
<input name="rating{{ song.id }}" id="{{ song.id }}star0" type="radio" value="0" style="display:none" onclick="rateSong({{ song.id }}, 0)">
<label for="{{ song.id }}star0">--</label>
{% for i in range(5) %}
<input name="rating{{ song.id }}" id="{{ song.id }}star{{ loop.index }}" type="radio" value="{{ loop.index }}" style="display:none" onclick="rateSong({{ song.id }}, {{ loop.index }})">
<label for="{{ song.id }}star{{ loop.index }}">{{ star_icon(true if loop.index <= song.rating else false) }}</label>
{% endfor %}
{% endmacro %}

<!--SORTERS-->
{% macro artist_sorter() %}
<div>
  <span class="small me-2">Sort By: </span>
  {% if order_by != 'name' %} <a class="link badge badge-custom" href="{{ url_for('artists.artists_', order_by='name') }}">Name</a>{% endif %}
  {% if order_by != 'id desc' %} <a class="link badge badge-custom" href="{{ url_for('artists.artists_', order_by='id desc') }}">Recently Added</a>{% endif %}
</div>
{% endmacro %}

{% macro album_sorter() %}
<div>
  <span class="small me-2">Sort By: </span>
  {% if order_by != 'title' %} <a class="link badge badge-custom" href="{{ url_for('albums.albums_', order_by='title') }}">Title</a>{% endif %}
  {% if order_by != 'release_date desc' %} <a class="link badge badge-custom" href="{{ url_for('albums.albums_', order_by='release_date desc') }}">Year</a>{% endif %}
</div>
{% endmacro %}

{% macro song_sorter() %}
<div>
  <span class="small me-2">Sort By: </span>
  {% if order_by != 'name' %} <a class="link badge badge-custom" href="{{ url_for('songs.songs_', order_by='name') }}">Name</a>{% endif %}
  {% if order_by != 'id desc' %} <a class="link badge badge-custom" href="{{ url_for('songs.songs_', order_by='id desc') }}">Recently Added</a>{% endif %}
</div>
{% endmacro %}

<!--FORMS-->
{% macro login_form() %}
<form method="POST" action="{{ url_for('login') }}">
  <input name="username" class="form-control mb-2" autocomplete="off" placeholder="Username" type="text">
  <input name="password" class="form-control mb-2" autocomplete="off" placeholder="Password" type="password">
  <button type="submit" class="btn btn-custom w-100">Log In</button>
</form>
{% endmacro %}

{% macro signup_form() %}
<form method="POST" action="{{ url_for('signup') }}">
  <input name="username" class="form-control mb-2" autocomplete="off" placeholder="Username" type="text">
  <input name="password" class="form-control mb-2" autocomplete="off" placeholder="Password" type="password">
  <button type="submit" class="btn btn-custom w-100">Sign Up</button>
</form>
{% endmacro %}

{% macro user_edit_form() %}
<form onsubmit="event.preventDefault(); userEdit();" class="input-group">
  <input id="username" class="form-control mb-2" autocomplete="off" placeholder="Username" type="text" value="{{ current_user.username }}">
  <input id="password" class="form-control mb-2" autocomplete="off" placeholder="Password" type="password">
  <button type="submit" class="btn btn-custom w-100">Edit Profile</button>
</form>
{% endmacro %}

{% macro artist_search_form() %}
<form method="POST" action="{{ url_for('artists.artists_') }}" class="input-group">
  <input autocomplete="off" placeholder="Search New Artist" type="text" name="name" class="form-control">
  <button type="submit" class="btn btn-custom">{{ search_icon() }}</button>
</form>
{% endmacro %}

{% macro artist_edit_form(artist) %}
<form onsubmit="event.preventDefault(); artistEdit({{ artist.id }}); this.reset();" class="input-group">
  <input autocomplete="off" placeholder="Name" type="text" id="name{{ artist.id }}" class="form-control" value="{{ artist.name }}">
  <button type="submit" class="btn btn-custom">Edit Artist</button>
</form>
{% endmacro %}

{% macro album_add_form(artist) %}
<form onsubmit="event.preventDefault(); albumAdd({{ artist.id }}); this.reset();" class="input-group">
  <input autocomplete="off" placeholder="+ New Album, seperated by commas" type="text" id="title" class="form-control">
  <button type="submit" class="btn btn-custom">Add Album</button>
</form>
{% endmacro %}

{% macro album_edit_form(album) %}
<form onsubmit="event.preventDefault(); albumEdit({{ album.id }});" class="form-group">
  <input autocomplete="off" placeholder="Title" type="text" id="title{{ album.id }}" class="form-control mb-2" value="{{ album.title }}">
  <input autocomplete="off" type="date" id="releaseDate{{ album.id }}" class="form-control mb-2" value="{{ album.release_date }}">
  <button type="submit" class="btn btn-custom w-100">Edit Album</button>
</form>
{% endmacro %}

{% macro song_add_form(album) %}
<form onsubmit="event.preventDefault(); songAdd({{ album.id }}); this.reset();" class="input-group">
  <input autocomplete="off" placeholder="+ New Song, seperated by commas" type="text" id="name" class="form-control">
  <button type="submit" class="btn btn-custom">Add Song</button>
</form>
{% endmacro %}

{% macro tag_add_form() %}
<form onsubmit="event.preventDefault(); tagAdd(); this.reset();" class="input-group">
  <input autocomplete="off" placeholder="+ New Tag, seperated by commas" type="text" id="name" class="form-control">
  <button type="submit" class="btn btn-custom">Add Tag</button>
</form>
{% endmacro %}

<!--PAGINATES-->

{% macro albums_paginate() %}
<nav class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link {% if not albums.has_prev %}btn disabled{% endif %}" {% if albums.has_prev %} href="{{ url_for('albums.albums_', page=albums.prev_num, order_by=order_by) }}" {% endif %}>Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link {% if not albums.has_next %}btn disabled{% endif %}" {% if albums.has_next %} href="{{ url_for('albums.albums_', page=albums.next_num, order_by=order_by) }}" {% endif %}>Next</a>
    </li>
  </ul>
</nav>
{% endmacro %}

{% macro songs_paginate() %}
<nav class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link {% if not songs.has_prev %}btn disabled{% endif %}" {% if songs.has_prev %} href="{{ url_for('songs.songs_', page=songs.prev_num, order_by=order_by) }}" {% endif %}>Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link {% if not songs.has_next %}btn disabled{% endif %}" {% if songs.has_next %} href="{{ url_for('songs.songs_', page=songs.next_num, order_by=order_by) }}" {% endif %}>Next</a>
    </li>
  </ul>
</nav>
{% endmacro %}