{% macro blog_card(blog_) %}
<div class="col-xl-4">
    <div class="p-4 border-bottom">
        <a class="fs-5" href="{{ url_for('blogs.blog', id_=blog_.id) }}">{{ blog_.title }}</a><br>
        <a>{{ blog_.users.username }}</a><br>
        <span class="text-muted">{{ blog_.date_published.strftime('%-m/%-d/%y %-I:%M %p') }}</span>
        {% if current_user.id == blog_.user_id %}
        <div class="mt-3">
            <a class="me-2" href="{{ url_for('blogs.editor', id_=blog_.id) }}"><i class="bi bi-pen"></i></a>
            <a class="text-danger" onclick="toggleDiv('deleteBlog' + {{ blog_.id }})"><i class="bi bi-trash3"></i></a>
            <a style="display: none" id="deleteBlog{{ blog_.id }}" class="text-danger" href="{{ url_for('blogs.delete_blog', id_=blog_.id) }}">Delete?</a>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro login_form() %}
<form method="POST" action="{{ url_for('login') }}">
    <input class="form-control w-100 mb-3" placeholder="Username" name="username" autocomplete="off">
    <input class="form-control w-100 mb-3" placeholder="Password" name="password" autocomplete="off" type="password">
    <button class="btn w-100" type="submit">Log In</button>
</form>
{% endmacro %}

{% macro signup_form() %}
<form method="POST" action="{{ url_for('signup') }}">
    <input class="form-control w-100 mb-3" placeholder="Username" name="username" autocomplete="off">
    <input class="form-control w-100 mb-3" placeholder="Password" name="password" autocomplete="off" type="password">
    <button class="btn w-100" type="submit">Sign Up</button>
</form>
{% endmacro %}

{% macro search_artist_form() %}
<form class="input-group" method="POST" action="{{ url_for('artists.index') }}">
    <input autocomplete="off" placeholder="Search Artists" class="form-control" name="artist">
    <button class="btn" type="submit"><i class="bi bi-search"></i></button>
</form>
{% endmacro %}

{% macro search_album_form() %}
<form class="input-group" method="POST" action="{{ url_for('albums.index') }}">
    <input autocomplete="off" placeholder="Search Albums" class="form-control" name="album">
    <button class="btn" type="submit"><i class="bi bi-search"></i></button>
</form>
{% endmacro %}

{% macro search_song_form() %}
<form class="input-group" method="POST" action="{{ url_for('songs.index') }}">
    <input autocomplete="off" placeholder="Search Songs" class="form-control" name="song">
    <button class="btn" type="submit"><i class="bi bi-search"></i></button>
</form>
{% endmacro %}

{% macro post_news_form() %}
<form method="POST" action="{{ url_for('news.post_news') }}">
    <input onchange="suggestHeadline()" autocomplete="off" placeholder="URL" class="form-control w-100 mb-3" name="url" id="url">
    <input autocomplete="off" placeholder="Headline" class="form-control w-100 mb-3" name="headline" id="headline">
    <button class="btn w-100" type="submit"><i class="bi bi-newspaper"></i> Post News</button>
</form>
{% endmacro %}

{% macro edit_news_form(newsitem_) %}
<form method="POST" action="{{ url_for('news.edit_news', id_=newsitem_.id) }}">
    <input autocomplete="off" placeholder="URL" class="form-control w-100 mb-3" name="url" value="{{ newsitem_.url }}">
    <input autocomplete="off" placeholder="Headline" class="form-control w-100 mb-3" name="headline" value="{{ newsitem_.headline }}">
    <button class="btn w-100" type="submit"><i class="bi bi-newspaper"></i> Edit News</button>
</form>
{% endmacro %}

{% macro create_blog_form() %}
<form method="POST" action="{{ url_for('blogs.create_blog') }}" class="input-group">
    <input autocomplete="off" placeholder="Title" class="form-control" name="title">
    <button class="btn" type="submit">Create Blog</button>
</form>
{% endmacro %}

{% macro blog_editor(blog_) %}
<form method="POST" action="{{ url_for('blogs.editor', id_=blog_.id) }}">
    <input autocomplete="off" placeholder="Title" class="form-control mb-3" name="title" value="{{ blog_.title }}">
    <textarea rows="25" autocomplete="off" placeholder="Content" class="form-control mb-3" name="content">{{ blog_.content }}</textarea>
    <button class="btn w-100" type="submit">Save</button>
</form>
{% endmacro %}