{% extends "base.html" %}
{% import "macros.html" as macros with context %}
{% block body %}
<title>News</title>
<div class="row">
    {% for i in news.items %}
    {{ macros.news_card(i) }}
    {% endfor %}
</div>
<div class="d-flex justify-content-between" style="font-size: 1.5em">
    {% if news.has_prev %}<a href="{{ url_for('news.news_', page=news.prev_num) }}"><i class="bi bi-arrow-left"></i></a>{% else %}<div></div>{% endif %}
    {% if news.has_next %}<a href="{{ url_for('news.news_', page=news.next_num) }}"><i class="bi bi-arrow-right"></i></a>{% else %}<div></div>{% endif %}
</div>
{% endblock %}