{% extends "base.html" %}

{% block body %}
<title>Albums</title>
<body>
<h1 class="display-4 text-center">Albums</h1>
<div class="row m-1">Sort by:
  {% if sort_by == "title" %}
  <a href="{{ url_for('sort_albums', sort_by='artist') }}" class="badge badge-dark m-1"
     style="background-color: #2B805A;">Artist</a>
  <a href="{{ url_for('sort_albums', sort_by='year') }}" class="badge badge-dark m-1"
     style="background-color: #3AAE7A;">Year</a>
  {% elif sort_by == "artist" %}
  <a href="{{ url_for('sort_albums', sort_by='title') }}" class="badge badge-dark m-1"
     style="background-color: #194A34;">Title</a>
  <a href="{{ url_for('sort_albums', sort_by='year') }}" class="badge badge-dark m-1"
     style="background-color: #3AAE7A;">Year</a>
  {% elif sort_by == "year" %}
  <a href="{{ url_for('sort_albums', sort_by='title') }}" class="badge badge-dark m-1"
     style="background-color: #194A34;">Title</a>
  <a href="{{ url_for('sort_albums', sort_by='artist') }}" class="badge badge-dark m-1"
     style="background-color: #2B805A;">Artist</a>
  {% else %}
  <a href="{{ url_for('sort_albums', sort_by='artist') }}" class="badge badge-dark m-1"
     style="background-color: #2B805A;">Artist</a>
  <a href="{{ url_for('sort_albums', sort_by='year') }}" class="badge badge-dark m-1"
     style="background-color: #3AAE7A;">Year</a>
  {% endif %}
</div>
<div class="row">
  {% for i in albums %}
  <a href="{{ url_for('album_profile_pg', id_=i.id) }}" class="col-3">
    <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
    <div class="card-body">
      <p class="text-body">{{ i.title }}</p>
      <p class="text-body">{{ i.artists.name }}</p>
      <small class="text-muted">{{ i.release_date }}</small>
    </div>
  </a>
  {% endfor %}
</div>
</body>
{% endblock %}