{% extends "base.html" %}

{% block body %}
<title>{{ album.title }}</title>
<body>
<div class="text-center">
  <p class="display-4">{{ album.title }}</p>
  <a href="{{ url_for('artists_profile_pg', id_=album.artists.id) }}" class="text-muted">{{ album.artists.name }}</a>
  <p>{{ album.release_date }}</p>
</div>
<div class="d-flex justify-content-center">
  <a href="#" class="badge badge-success" data-toggle="modal" data-target="#exampleModal">+ Song</a>
</div>
<h3 class="font-weight-bold m-2">Songs</h3>
{% for i in tracks %}
<a href="{{ url_for('song_profile_pg', id_=i.id) }}"
   class="list-group-item list-group-item-action border-0 m-3 rounded-lg">
  <div class="d-flex w-100 justify-content-between">
    {% if i.track_num %}
    <h3 class="mb-1">{{ i.track_num }} - {{ i.name }}</h3>
    {% else %}
    <h3 class="mb-1">{{ i.name }}</h3>
    {% endif %}
  </div>
</a>
{% endfor %}
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Song</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('album_profile_pg', id_=album.id) }}">
          <input type="text" placeholder="Song Name" name="song_name" autocomplete="off">
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}