{% extends "base.html" %}

{% block body %}
<title>Albums</title>
<body>
<h1 class="display-4 text-center">Albums</h1>
<div class="card-deck">
  {% for i in albums %}
  <div class="card">
    <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
    <div class="card-body">
      <p class="font-italic">{{ i.title }}</p>
      <p>{{ i.artists.name }}</p>
      <small class="text-muted">{{ i.release_date }}</small>
    </div>
  </div>
  {% endfor %}
</div>
</body>
{% endblock %}