{% extends "base.html" %}

{% block body %}
<title>{{ artist.name }}</title>
<body>
<p class="display-4 text-center">{{ artist.name }}</p>
<div class="d-flex justify-content-center">
  <a href="#" class="badge badge-primary mr-2" data-toggle="modal" data-target="#exampleModal">+ Album</a>
  <a href="#" class="badge badge-success">+ Song</a>
</div>
<h3 class="font-weight-bold m-2">Albums</h3>
<div class="row">
  {% for i in artist.albums %}
  <a href="{{ url_for('album_profile_pg', id_=i.id) }}" class="col-3">
    <img class="card-img-top" src="https://via.placeholder.com/250" alt="Card image cap">
    <div class="card-body">
      <p class="text-muted">{{ i.title }}</p>
      <small class="text-muted">{{ i.release_date }}</small>
    </div>
  </a>
  {% endfor %}
</div>

<h3 class="font-weight-bold m-2">Songs</h3>
{% for i in artist.songs %}
<a href="{{ url_for('song_profile_pg', id_=i.id) }}"
   class="list-group-item list-group-item-action border-0 m-3 rounded-lg">
  <div class="d-flex w-100 justify-content-between">
    <h3 class="mb-1">{{ i.name }}</h3>
    <small>{{ i.albums.release_date }}</small>
  </div>
  <h6 class="mb-1 text-muted">{{ i.albums.title }}</h6>
</a>
{% endfor %}
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('edit', id_=artist.id) }}">
          <input type="text" placeholder="Album Name" name="album_title" autocomplete="off">
          <input type="text" placeholder="Year" name="year" autocomplete="off">
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}