<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
  <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      {{ macros.navbar_icon() }}
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="navbar-item">
        <a class="nav-link" href="{{ url_for('artists_') }}">Artists</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="{{ url_for('albums_') }}">Albums</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="{{ url_for('songs_') }}">Songs</a>
      </li>
    </ul>
    <form class="form-group form-inline ml-auto m-0" action="{{ url_for('search') }}" method="POST">
      {{ macros.input('search_term', 'Search') }}
      <button type="submit" class="btn btn-secondary">{{ macros.search_icon() }}</button>
    </form>
  </div>
</nav>
<div class="container">
  {% block body %}
  {% endblock %}
</div>
</body>
</html>