{% extends "base.html" %}

{% block body %}
<title>Home</title>
<body>
<div class="jumbotron">
  <h1 class="display-3 text-center">Hello, world!</h1>
  <p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for
    calling extra attention to featured content or information.</p>
  <hr class="my-2">
  <p class="text-center">It uses utility classes for typography and
    spacing to space content out within the larger container.</p>
</div>
<h1 class="display-4 text-center">News</h1>
{% for i in fresh %}
<a class="list-group-item list-group-item-action border-0 m-3 rounded-lg" href="{{ i.url }}">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ i.title }}</h5>
    <small>{{ i.time_posted }}</small>
  </div>
</a>
{% endfor %}
</body>
{% endblock %}