{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block body %}
<title>Home</title>
<div>
  <a href="{{ latest_news[0].url }}" class="link col-12 p-0" target="_blank">
    <div class="jumbo-card" style="height: 400px;">
      {{ latest_news[0].title[:180] }}
      {{ macros.paragraph(get_time_posted(latest_news[0].created_utc), size=0.7) }}
      {{ macros.upvote_icon() }}{{ latest_news[0].score }}
    </div>
  </a>
  <div class="row m-0">
    <a href="{{ latest_news[1].url }}" class="link col-4 p-0" target="_blank">
      <div class="jumbo-card" style="height: 200px;">
        {{ latest_news[1].title[:180] }}
        {{ macros.paragraph(get_time_posted(latest_news[1].created_utc), size=0.7) }}
        {{ macros.upvote_icon() }}{{ latest_news[1].score }}
      </div>
    </a>
    <a href="{{ latest_news[2].url }}" class="link col-4 p-0" target="_blank">
      <div class="jumbo-card" style="height: 200px;">
        {{ latest_news[2].title[:180] }}
        {{ macros.paragraph(get_time_posted(latest_news[2].created_utc), size=0.7) }}
        {{ macros.upvote_icon() }}{{ latest_news[2].score }}
      </div>
    </a>
    <a href="{{ latest_news[3].url }}" class="link col-4 p-0" target="_blank">
      <div class="jumbo-card" style="height: 200px;">
        {{ latest_news[3].title[:180] }}
        {{ macros.paragraph(get_time_posted(latest_news[3].created_utc), size=0.7) }}
        {{ macros.upvote_icon() }}{{ latest_news[3].score }}
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-6">
    {{ macros.paragraph('LATEST SONGS', size=1.5, class='m-3 fw-bold') }}
    {% for i in fresh_songs[:10] %}
    <a href="{{ i.url }}" class="card link border-0" target="_blank" style="height:150px;">
      <div class="card-body border-top">
        {{ macros.paragraph(get_time_posted(i.created_utc), size=0.7) }}
        {{ macros.paragraph(i.title[:180], class='fw-bold') }}
        <p style="position: absolute; bottom:0; right:0; font-size:0.8em; color:green">{{ macros.upvote_icon() }}{{ i.score }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  <div class="col-6">
    {{ macros.paragraph('LATEST NEWS', size=1.5, class='m-3 fw-bold') }}
    {% for i in latest_news[4:14] %}
    <a href="{{ i.url }}" class="card link border-0" target="_blank" style="height:150px;">
      <div class="card-body border-top">
        {{ macros.paragraph(get_time_posted(i.created_utc), size=0.7) }}
        {{ macros.paragraph(i.title[:180], class='fw-bold') }}
        <p style="position: absolute; bottom:0; right:0; font-size:0.8em; color:green">{{ macros.upvote_icon() }}{{ i.score }}</p>
        <p class="ms-4" style="position: absolute; bottom:0; left:0; font-size:0.8em">{{ macros.comment_icon(size=15) }}{{ i.num_comments }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}