{% macro paragraph(txt, class='', size=1) %}
<!--suppress ALL -->
<p class="m-0 {{ class }}" style="font-size:{{ size }}em">{{ txt }}</p>
{% endmacro %}

{% macro modal(id, title='', lg=false, class='') %}
<div class="modal {% if lg %}modal-lg{% endif %}" id="{{ id }}">
  <div class="modal-dialog">
    <div class="modal-content p-3 {{ class }}">
      {% if title %}{{ paragraph(title, class='text-center', size=2) }}{% endif %}
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro badge(txt, bg_color='black', txt_color='white', class='', href='#', newtab=false, modal_id='') %}
<a href="{{ href }}"
   class="badge {{ class }}"
   style="text-decoration:none; background-color:{{ bg_color }}; color:{{ txt_color }}"
   {% if newtab %}
   target="_blank"
   {% endif %}
   {% if modal_id %}
   data-bs-toggle="modal"
   data-bs-target="#{{ modal_id }}"
   {% endif %}
>
  {{ txt }}
</a>
{% endmacro %}

{% macro input(name, placeholder, class='', value='') %}
<input type="text" name="{{ name }}" placeholder="{{ placeholder }}" class="form-control {{ class }}" autocomplete="off" value="{{ value }}">
{% endmacro %}

{% macro navbar_icon(size=25, color='currentcolor', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-soundwave {{ class }}" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.5 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11a.5.5 0 0 1 .5-.5zm-2 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zm-6 1.5A.5.5 0 0 1 5 6v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm8 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm-10 1A.5.5 0 0 1 3 7v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5zm12 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0V7a.5.5 0 0 1 .5-.5z"/>
</svg>
{% endmacro %}

{% macro add_icon(size=25, color='green', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-plus-square {{ class }}" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
{% endmacro %}

{% macro edit_icon(size=25, color='currentcolor', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-pencil-square {{ class }}" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
{% endmacro %}

{% macro delete_icon(size=25, color='red', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-x-square {{ class }}" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
{% endmacro %}

{% macro search_icon(size=25, color='currentcolor', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-search {{ class }}" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
{% endmacro %}

{% macro circle_icon(size=25, color='black', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-circle-fill {{ class }}" viewBox="0 0 16 16">
  <circle cx="8" cy="8" r="8"/>
</svg>
{% endmacro %}

{% macro user_icon(size=25, color='currentcolor', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-person-circle {{ class }}" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg>
{% endmacro %}

{% macro comment_icon(size=25, color='currentcolor', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-chat {{ class }}" viewBox="0 0 16 16">
  <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
</svg>
{% endmacro %}

{% macro upvote_icon(size=25, color='green', class='') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-caret-up-fill {{ class }}" viewBox="0 0 16 16">
  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
</svg>
{% endmacro %}

{% macro album_card(album) %}
<a href="{{ url_for('album_', id_=album.id) }}" class="link col-3">
  <img class="card-img-top rounded shadow" src="{% if album.cover_art %}{{ album.cover_art }}{% else %}https://via.placeholder.com/250{% endif %}" alt="Card image cap">
  <div class="card-body">
    {{ paragraph(album.title, class='font-italic font-weight-bold text-truncate') }}
    {{ paragraph(album.artists.name, size=0.9) }}
    {{ paragraph(album.release_date.year, size=0.8) }}
  </div>
</a>
{% endmacro %}

{% macro artist_card(artist) %}
<a href="{{ url_for('artist_', id_=artist.id) }}" class="link col-3 p-3">
  <img class="card-img shadow rounded-circle" src="{% if artist.profile_pic %}{{ artist.profile_pic }}{% else %}https://via.placeholder.com/250{% endif %}" alt="Card image cap">
  <div class="text-center m-3">
    {{ paragraph(artist.name) }}
  </div>
</a>
{% endmacro %}

{% macro song_list_item(song) %}
<a href="{{ url_for('song_', id_=song.id) }}" class="link list-group-item list-group-item-action border-0 rounded">
  <ul class="list-inline m-0">
    <li class="list-inline-item">{{ paragraph(song.name, size=1.5) }}</li>
    <li class="list-inline-item">{{ paragraph(song.artists.name, size=1) }}</li>
    <li>{{ paragraph(song.albums.title, class='font-italic', size=0.9) }}</li>
  </ul>
</a>
{% endmacro %}

{% macro news_list_item(item) %}
<a href="{{ item.url }}" class="list-group-item list-group-item-action border-0 rounded" target="_blank">
  <ul class="list-inline m-0">
    <li class="list-inline-item">{{ paragraph(item.title, size=1.25) }}</li>
    <li>{{ paragraph(item.time_posted, size=0.9, class='text-muted font-italic') }}</li>
  </ul>
</a>
{% endmacro %}

{% macro songs_sort_filter() %}
<ul class="list-inline">
  <li class="list-inline-item">Sort By:</li>
  {% if order_by == "songs_name" %}
  <li class="list-inline-item">{{ badge('Artist', href=url_for('songs_', order_by='artists.name'), bg_color='darkblue') }}</li>
  <li class="list-inline-item">{{ badge('Year', href=url_for('songs_', order_by='albums.release_date desc'), bg_color='darkblue') }}</li>
  {% elif order_by == "artists.name" %}
  <li class="list-inline-item">{{ badge('Year', href=url_for('songs_', order_by='albums.release_date desc'), bg_color='darkblue') }}</li>
  <li class="list-inline-item">{{ badge('Title', href=url_for('songs_', order_by='songs_name'), bg_color='darkblue') }}</li>
  {% elif order_by == "albums.release_date desc" %}
  <li class="list-inline-item">{{ badge('Artist', href=url_for('songs_', order_by='artists.name'), bg_color='darkblue') }}</li>
  <li class="list-inline-item">{{ badge('Title', href=url_for('songs_', order_by='songs_name'), bg_color='darkblue') }}</li>
  {% endif %}
</ul>
{% endmacro %}

{% macro albums_sort_filter() %}
<ul class="list-inline">
  <li class="list-inline-item">Sort By:</li>
  {% if order_by == "title" %}
  <li class="list-inline-item">{{ badge('Artist', href=url_for('albums_', order_by='artists.name'), bg_color='green') }}</li>
  <li class="list-inline-item">{{ badge('Year', href=url_for('albums_', order_by='release_date desc'), bg_color='green') }}</li>
  {% elif order_by == "artists.name" %}
  <li class="list-inline-item">{{ badge('Year', href=url_for('albums_', order_by='release_date desc'), bg_color='green') }}</li>
  <li class="list-inline-item">{{ badge('Title', href=url_for('albums_', order_by='title'), bg_color='green') }}</li>
  {% elif order_by == "release_date desc" %}
  <li class="list-inline-item">{{ badge('Artist', href=url_for('albums_', order_by='artists.name'), bg_color='green') }}</li>
  <li class="list-inline-item">{{ badge('Title', href=url_for('albums_', order_by='title'), bg_color='green') }}</li>
  {% endif %}
</ul>
{% endmacro %}

{% macro artists_sort_filter() %}
<ul class="list-inline">
  <li class="list-inline-item">Sort By:</li>
  {% if order_by == "name" %}
  <li class="list-inline-item">{{ badge('Recently Added', href=url_for('artists_', order_by='id desc'), bg_color='orange') }}</li>
  {% elif order_by == "id desc" %}
  <li class="list-inline-item">{{ badge('Name', href=url_for('artists_', order_by='name'), bg_color='orange') }}</li>
  {% endif %}
</ul>
{% endmacro %}

{% macro albums_paginate() %}
<nav class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link {% if not albums.has_prev %}btn disabled{% endif %}" {% if albums.has_prev %} href="{{ url_for('albums_', page=albums.prev_num, order_by=order_by) }}" {% endif %}>Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link {% if not albums.has_next %}btn disabled{% endif %}" {% if albums.has_next %} href="{{ url_for('albums_', page=albums.next_num, order_by=order_by) }}" {% endif %}>Next</a>
    </li>
  </ul>
</nav>
{% endmacro %}

{% macro artists_paginate() %}
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link {% if not artists.has_prev %} btn disabled {% endif %}" {% if artists.has_prev %} href="{{ url_for('artists_', page=artists.prev_num) }}" {% endif %}>Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link {% if not artists.has_next %} btn disabled {% endif %}" {% if artists.has_next %} href="{{ url_for('artists_', page=artists.next_num) }}" {% endif %}>Next</a>
    </li>
  </ul>
</nav>
{% endmacro %}

{% macro songs_paginate() %}
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link {% if not songs.has_prev %} btn disabled {% endif %}" {% if songs.has_prev %} href="{{ url_for('songs_', page=songs.prev_num) }}" {% endif %}>Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link {% if not songs.has_next %} btn disabled {% endif %}" {% if songs.has_next %} href="{{ url_for('songs_', page=songs.next_num) }}" {% endif %}>Next</a>
    </li>
  </ul>
</nav>
{% endmacro %}

{% macro artist_create_form() %}
<form class="form-group" action="{{ url_for('artist_create') }}" method="POST">
  {{ input('artist_name', 'Name', class='mb-2') }}
  <button type="submit" class="btn w-100">Enter</button>
</form>
{% endmacro %}

{% macro artist_update_form(artist) %}
<form class="form-group" action="{{ url_for('artist_update', id_=artist.id) }}" method="POST">
  {{ input('artist_name', 'Name', value=artist.name, class='mb-2') }}
  {{ input('profile_pic', 'Profile Pic URL', value=artist.profile_pic, class='mb-2') }}
  <button type="submit" class="btn w-100">Enter</button>
</form>
{% endmacro %}

{% macro album_create_form(artist) %}
<form class="form-group" action="{{ url_for('album_create', id_=artist.id) }}" method="POST">
  {{ input('title', 'Title', class='mb-2') }}
  {{ input('release_date', 'Year', class='mb-2') }}
  <select class="form-control" name="artist_id">
    {% for i in all_artists %}
    <option value="{{ i.id }}">{{ i.name }}</option>
    {% endfor %}
  </select>
  <button type="submit" class="btn w-100">Enter</button>
</form>
{% endmacro %}

{% macro album_update_form(album) %}
<form class="form-group" action="{{ url_for('album_update', id_=album.id) }}" method="POST">
  {{ input('title', 'Title', value=album.title, class='mb-2') }}
  <input type="date" class="form-control mb-2" name="release_date" autocomplete="off" value="{{ album.release_date }}">
  {{ input('cover_art', 'Cover Art URL', value=album.cover_art, class='mb-2') }}
  <button type="submit" class="btn w-100">Enter</button>
</form>
{% endmacro %}

{% macro song_create_form(album) %}
<form class="form-group" action="{{ url_for('song_create', id_=album.id) }}" method="POST">
  {{ input('song_name', 'Name', class='mb-2') }}
  <input type="number" name="track_num" class="form-control mb-2" min="0" value="0">
  <button type="submit" class="btn w-100">Enter</button>
</form>
{% endmacro %}

{% macro song_update_form(song) %}
<form class="form-group" action="{{ url_for('song_update', id_=song.id) }}" method="POST">
  {{ input('song_name', 'Name', value=song.name, class='mb-2') }}
  <input type="number" name="track_num" class="form-control mb-2" value="{{ song.track_num }}">
  <button type="submit" class="btn w-100">Enter</button>
</form>
{% endmacro %}

{% macro search_form(class='') %}
<form class="form-group form-inline {{ class }}" action="{{ url_for('search') }}" method="POST">
  {{ input('search_term', 'Search') }}
  <button type="submit" class="btn btn-secondary">{{ search_icon(size=15) }}</button>
</form>
{% endmacro %}

{% macro artist_options(artist) %}
<ul class="list-inline">
  <li class="list-inline-item">
    <a href="#" class="link" data-bs-target="#album_create" data-bs-toggle="modal">{{ add_icon() }}</a></li>
  <li class="list-inline-item">
    <a href="#" class="link" data-bs-target="#artist_update" data-bs-toggle="modal">{{ edit_icon() }}</a></li>
  <li class="list-inline-item">
    <a href="#" class="link" data-bs-target="#artist_delete" data-bs-toggle="modal">{{ delete_icon() }}</a></li>
</ul>
{% call modal('album_create') %}{{ album_create_form(artist) }}{% endcall %}
{% call modal('artist_update') %}{{ artist_update_form(artist) }}{% endcall %}
{% call modal('artist_delete') %}
<a href="{{ url_for('artist_delete', id_=artist.id) }}" class="btn btn-danger">Delete</a>{% endcall %}
{% endmacro %}

{% macro album_options(album) %}
<ul class="list-inline">
  <li class="list-inline-item">
    <a href="#" class="link" data-bs-toggle="modal" data-bs-target="#song_create">{{ add_icon() }}</a></li>
  <li class="list-inline-item">
    <a href="#" class="link" data-bs-toggle="modal" data-bs-target="#album_update">{{ edit_icon() }}</a></li>
  <li class="list-inline-item">
    <a href="#" class="link" data-bs-toggle="modal" data-bs-target="#album_delete">{{ delete_icon() }}</a></li>
</ul>
{% call modal('song_create') %}{{ song_create_form(album) }}{% endcall %}
{% call modal('album_update') %}{{ album_update_form(album) }}{% endcall %}
{% call modal('album_delete') %}
<a href="{{ url_for('album_delete', id_=album.id) }}" class="btn btn-danger">Delete</a>{% endcall %}
{% endmacro %}

{% macro song_options(song) %}
<ul class="list-inline">
  <li class="list-inline-item">
    <a href="#" class="link" data-bs-target="#song_update" data-bs-toggle="modal">{{ edit_icon() }}</a></li>
  <li class="list-inline-item">
    <a href="#" class="link" data-bs-target="#song_delete" data-bs-toggle="modal">{{ delete_icon() }}</a></li>
</ul>
{% call modal('song_update') %}{{ song_update_form(song) }}{% endcall %}
{% call modal('song_delete') %}
<a href="{{ url_for('song_delete', id_=song.id) }}" class="btn btn-danger">Delete</a>{% endcall %}
{% endmacro %}