{% extends "base.html" %}

{% block body %}
<title>Songs</title>
<body>
<h1 class="display-4 text-center">Songs</h1>
<div class="row m-1">Sort by:
  {% if order_by == "songs_name" %}
  <a href="{{ url_for('songs_pg', order_by='artists.name') }}" class="badge badge-dark m-1"
     style="background-color: #2B805A;">Artist</a>
  <a href="{{ url_for('songs_pg', order_by='albums.release_date desc') }}" class="badge badge-dark m-1"
     style="background-color: #3AAE7A;">Year</a>
  {% elif order_by == "artists.name" %}
  <a href="{{ url_for('songs_pg', order_by='songs_name') }}" class="badge badge-dark m-1"
     style="background-color: #194A34;">Title</a>
  <a href="{{ url_for('songs_pg', order_by='albums.release_date desc') }}" class="badge badge-dark m-1"
     style="background-color: #3AAE7A;">Year</a>
  {% elif order_by == "albums.release_date desc" %}
  <a href="{{ url_for('songs_pg', order_by='songs_name') }}" class="badge badge-dark m-1"
     style="background-color: #194A34;">Title</a>
  <a href="{{ url_for('songs_pg', order_by='artists.name') }}" class="badge badge-dark m-1"
     style="background-color: #2B805A;">Artist</a>
  {% endif %}
</div>
{% for i in songs %}
<a href="{{ url_for('song_profile_pg', id_=i.id) }}"
   class="list-group-item list-group-item-action border-0 m-3 rounded-lg">
  <div class="d-flex w-100 justify-content-between">
    <h3 class="mb-1">{{ i.name }}</h3>
    <small>{{ i.albums.release_date }}</small>
  </div>
  <h6 class="mb-1 text-muted">{{ i.artists.name }}</h6>
</a>
{% endfor %}
</body>
{% endblock %}